@tailwind base;
@tailwind components;
@tailwind utilities;

$blue-0: #007bc7;
$blue-1: #0098f7;
$white-0: #ffffff;
$black-0: #000000;
$grey-0: #b8b5b5;
$grey-1: #bec8db;
$grey-2: #c7d0e2;
$dark-0: #111d25;
$dark-1: #1c2830;
$dark-2: #202c34;
$dark-3: #2b3a44;
$gradient-start: #00c6ff;
$gradient-end: #0072ff;
$border: #ffffff0d;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

html {
    width: 100%;
    height: 100%;
    background-color: $dark-0;
}

body {
    &::-webkit-scrollbar {
        width: 0.9rem;
        border-left: 1px solid $border;
    }

    &::-webkit-scrollbar-thumb {
        border: 0.3rem solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: rgba($grey-1, 0.5);
    }

    &::-webkit-scrollbar-track {
        background-color: rgba($dark-2, 0.5);
    }
}